body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents{
  opacity: 0;
}

.logo {
  font-size: 10vw;
  font-weight: bold;
  align-items: center;
}
.ellipsis {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-content {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-tittle {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.button {
  background-color: #f0932b;
  color: black;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  background-color: #f0942bce;
}

.footer {
  overflow-x: hidden;
  position: fixed;
  bottom: 20px;
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media i {
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 10px;
}

.curtain {
  position: fixed;
  width: 50%;
  height: 100%;
  background: #222; /* Dark Gray */
  z-index: 9999;
}
.curtain-left {
  /* position: relative; */
  left: 0;
  top: 0;
  transform: translateX(-100%);
}
.curtain-right {
  right: 0;
  top: 0;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: start;
  /* padding-right: 20px; */
}

.letter-a {
  color: #ff914d;
}

.letter-s {
  color: #ffffff;
  
}

.loading-container {
  /* position: absolute; */
  opacity: 0;
  transform: translateX(-208px);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: white;
  border: 8px solid #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.loading-water {
  width: 100%;
  height: 0%;
  background: #000;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.loading-text {
  position: absolute;
  font-size: 8rem;
  font-weight: bold;
  color: black;
  z-index: 2;
}

.logo {
  font-size: 24px;
  color: white;
}

.logo span {
  color: #f0932b;
  margin: 0 5px;
}

/* Style page-2 */
.container {
    justify-content: center;
    text-align: left;
}

.content-text h1 {
    text-align: left;
    font-size: 7rem;
    font-weight: bold;
}

.content-text p {
  text-align: left;
  font-size: 1.5rem;
  /* font-weight: bold; */
}

.image-content {
    width: 1000px;
    margin-left: 10rem;
    margin-top: 4rem;
}

/* style page-3*/
.container {
    justify-content: center;
    text-align: left;
}
.packaging-text {
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
}
.pack {
    width: 150%;
    margin-left: 2rem;
    margin-top: 2rem;
}

/* style page-4 */
.container {
  justify-content: right;
  text-align: center;
}
.product-text {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}

.button-product {
  background-color: #f0932b;
  color: black;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  background-color: #ff914db9;
}

.image-product {
  width: 1000px;
  margin-left: 10rem;
  margin-top: 4rem;
}